<div class="container">
  <hr style="width: 100%; margin-top: 30px; margin-bottom: 50px;"> 
  <div class="row projectpagerow">
      <div class="col-md-2 col-sm-2 col-xs-4 smallthumbnail">
        <a href="planetparasite.html"><div class="image">
        <img class="thumbnailimg" src="img/uidesign/planetparasite/planetparasite_thumbnail.jpg"></div></a>
        <p>planet parasite</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 smallthumbnail">
        <a href="priceyak.html"><div class="image">
        <img class="thumbnailimg" src="img/uidesign/priceyak/priceyak_thumbnail.jpg"></div></a>
        <p>priceyak</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 smallthumbnail">
        <a href="zinchomepage.html"><div class="image">
        <img class="thumbnailimg" src="img/uidesign/zinchomepage/zinchomepage_thumbnail.jpg"></div></a>
        <p>zinc</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 smallthumbnail">
        <a href="lionfish.html"><div class="image">
        <img class="thumbnailimg" src="img/uidesign/lionfish/lionfish_thumbnail.jpg"></div></a>
        <p>lionfish</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 smallthumbnail">
        <a href="subtotal.html"><div class="image">
        <img class="thumbnailimg" src="img/uidesign/subtotal/subtotal_thumbnail.jpg"></div></a>
        <p>subtotal</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 smallthumbnail">
        <a href="sendthatgift.html"><div class="image">
        <img class="thumbnailimg" src="img/uidesign/sendthatgift/sendthatgift_thumbnail.jpg"></div></a>
        <p>send that gift</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 smallthumbnail">
        <a href="hedgy.html"><div class="image">
        <img class="thumbnailimg" src="img/uidesign/hedgy/hedgy_thumbnail.jpg"></div></a>
        <p>hedgy</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 smallthumbnail">
        <a href="tailord.html"><div class="image">
        <img class="thumbnailimg" src="img/uidesign/tailord/tailord_thumbnail.jpg"></div></a>
        <p>tailor'd</p>
      </div>
  </div>
</div>