<div class="container">
  <hr style="width: 100%; margin-top: 30px; margin-bottom: 50px;"> 
  <div class="row projectpagerow">
      <div class="col-md-2 col-sm-2 col-xs-4 smallthumbnail">
        <a href="urbanincubatorstimulator.html"><div class="image">
        <img class="thumbnailimg" src="img/architecture/urbanincubatorstimulator/urbanincubatorstimulator_thumbnail.jpg"></div></a>
        <p>urban incubator stimulator</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 smallthumbnail">
        <a href="sacolakewellnesscenter.html"><div class="image">
        <img class="thumbnailimg" src="img/architecture/sacolakewellnesscenter/sacolakewellnesscenter_thumbnail.jpg"></div></a>
        <p>saco lake wellness center</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 smallthumbnail">
        <a href="citra.html"><div class="image">
        <img class="thumbnailimg" src="img/architecture/citra/citra_thumbnail.jpg"></div></a>
        <p>citra</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 smallthumbnail">
        <a href="centerforurbanagriculture.html"><div class="image">
        <img class="thumbnailimg" src="img/architecture/centerforurbanagriculture/centerforurbanagriculture_thumbnail.jpg"></div></a>
        <p>center for urban agriculture</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 smallthumbnail">
        <a href="materialsandassembly.html"><div class="image">
        <img class="thumbnailimg" src="img/architecture/materialsandassembly/materialsandassembly_thumbnail.jpg"></div></a>
        <p>materials and assembly</p>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-4 smallthumbnail">
        <a href="twist.html"><div class="image">
        <img class="thumbnailimg" src="img/architecture/twist/twist_thumbnail.jpg"></div></a>
        <p>twist</p>
      </div>
  </div>
</div>